# fly.toml app configuration file generated for db-agent on 2025-12-19T18:35:37+04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'db-agent'
primary_region = 'ams'

[build]

[env]
JWT_PUBLIC_KEY = "ACBGTFCXEVAIW5FP774H2AWMTYITBWLLRWIXIBYG75D4CNPQ33BA3ZHN"

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 1
processes = ['app']

[[vm]]
cpu_kind = 'shared'
cpus = 1
memory_mb = 512
